
#leftpanel {
    /* PANEL AREA */
    position: fixed;
    background: lightgrey;
    width: 30%;
    height: 100%;
    top: 0px; 
    left: 0px;
    padding: 1.5em 2.5em;
    
    /* OW Logo */
    background-image: url("images/ow_logo_gold.png");
    background-repeat: no-repeat;
    background-position: calc(100% + 120px) 25px; 
    background-size: 400px 400px;
    float: left;
}



.leftcontent {
    width: auto;
    position: relative;
}

#searchbar {
    text-align: center;
    position: relative;
    padding-top: 50%;
    padding-bottom: 2em;
    display: inline-block;
    
}

#resultsbar {
    background: white;
    opacity: 0.6;
    border-radius: 1em;
}

#footerbar {
    transform-origin: bottom;
    bottom: 1em;
    position: absolute;
}




#maincontent {
    left: 30%;
    top: 0px;
    background: whitesmoke;
    height: 1500px;
    width: 100%;
    position: relative;
    padding: 3em;
}